<div class="container" *ngIf="tecnico$ | async as tecnico ">
  <mat-card *ngIf="atendimento$ | async as atd">
      <div class="titulo">
          <mat-card-title>{{tecnico.id}}:{{tecnico.nome}}</mat-card-title>
          <mat-card-title>{{data | date: 'dd/MM/yyyy HH:mm:ss'}}</mat-card-title>
          <button mat-mini-fab color="warn" color="warn" [routerLink]="['','atendimento']">
            <mat-icon>close</mat-icon>
          </button>
      </div>

      <mat-divider inset style="margin-top: 1em;"></mat-divider>

      <form class="example-form" [formGroup]="tecnicoForm">
        <div class="titulo">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Nome do Usuario</mat-label>
            <input matInput id="nome" name="nome" formControlName="nome">
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>CPF do Usuario</mat-label>
            <input matInput id="cpfUsuario" name="cpfUsuario" formControlName="cpfUsuario">
          </mat-form-field>
        </div>

        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Atendimento Solicitado</mat-label>
          <textarea matInput name="descricaoAtendimento" disabled style="font-size: large; font-weight: bolder;">
            {{atd.descricaoAtendimento}}
          </textarea>
        </mat-form-field>

        <div class="titulo">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Atendimento</mat-label>
            <input matInput id="tipoAtendimento" name="tipoAtendimento" formControlName="tipoAtendimento">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Data do Agendamento</mat-label>
            <input type="text" matInput [matDatepicker]="picker"
            name="dataAgendamento" formControlName="dataAgendamento" >
            <mat-error>Data de Agendamento</mat-error>
            <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
            <mat-datepicker touchUi #picker disabled="true"></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Hora do Atendimento</mat-label>
            <input matInput id="horaAgendamento" name="horaAgendamento" formControlName="horaAgendamento">
          </mat-form-field>

          <mat-form-field appearance="outline" *ngIf="atd.tipoAtendimento == 'SERVSOCIAL'; else cadastro">
            <mat-label>Descrição Atendimento</mat-label>
            <mat-select name="descricaoAtendimento" formControlName="descricaoAtendimento">
              <mat-option *ngFor="let item of servsocial" [value]="item">{{item}}</mat-option>
            </mat-select>
          </mat-form-field>

          <ng-template #cadastro>
            <mat-form-field appearance="outline">
              <mat-label>Descrição Atendimento</mat-label>
              <mat-select name="descricaoAtendimento" formControlName="descricaoAtendimento">
                <mat-option *ngFor="let item of cadunico" [value]="item">{{item}}</mat-option>
              </mat-select>
            </mat-form-field>
          </ng-template>
        </div>

        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Relatório de Atendimento</mat-label>
          <textarea matInput placeholder="Digite uma breve descrição do atendimento" name="relatorio"
              formControlName="relatorio" ></textarea>
          <mat-error>Não pode ser em branco</mat-error>
        </mat-form-field>

        <div class="titulo" style="justify-content: flex-start;">
          <button mat-flat-button color="primary" (click)="salvar(tecnico.id!)" >Salvar</button>
          <button mat-flat-button color="warn" [routerLink]="['','atendimento']">Voltar</button>
        </div>
      </form>
  </mat-card>
</div>
