<mat-tab-group mat-align-tabs="center" animationDuration="1000ms">
  <mat-tab label="{{data | date: 'dd/MM/yyyy'}}">
    <div class="content" *ngIf="listaAgendamento$ | async as listaAgendamento">
      <div *ngFor="let atendimento of listaAgendamento">
        <app-cartao [cartaoAtendimento]="atendimento"></app-cartao>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Cadastro Unico">
    <div class="content" *ngIf="listaCadUnico$ | async as listaCadUnico">
      <div *ngFor="let atendimento of listaCadUnico">
        <app-cartao [cartaoAtendimento]="atendimento"></app-cartao>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Serviço Social" >
    <div class="content" *ngIf="listaSocial$ | async as listaSocial">
      <div *ngFor="let atendimento of listaSocial">
        <app-cartao [cartaoAtendimento]="atendimento"></app-cartao>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Encaminhados">
    <div class="content" *ngIf=" listaEncaminhados$ | async as lista">
      <div *ngFor="let atendimento of lista">

        <app-cartao [cartaoAtendimento]="atendimento"></app-cartao>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Todos">
    <div class="content" *ngIf="lista$ | async as lista">
      <div *ngFor="let atendimento of lista">
        <app-cartao [cartaoAtendimento]="atendimento"></app-cartao>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
