@media (max-width: 720px) {
  .titulo{
    flex-wrap: wrap;
  }
}
.container {
  display: flex;
  justify-content: center;
  padding-top: 5em;
}

.card {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.titulo{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  column-gap: 1em;
}
.example-form {
  display: flex;
  flex-direction: column;
  min-width: 150px;
  max-width: 100%;
  width: 100%;
}

.example-full-width {
  width: 100%;
  padding-bottom: 3px;

}

.mat-form-field {
  margin-top: 16px;
}
