<div class="container">
  <mat-card class="card">
      <div class="titulo">
          <mat-card-title>Relatorio Geral</mat-card-title>
          <button mat-mini-fab color="warn" color="warn" [routerLink]="['','atendimento']">
            <mat-icon>close</mat-icon>
          </button>
      </div>

      <mat-divider inset style="margin-top: 1em;"></mat-divider>

      <div class="datapicker">
        <mat-form-field appearance="outline">
          <mat-label>Digite o Periodo desejado</mat-label>
          <mat-date-range-input [formGroup]="relatorioForm" [rangePicker]="picker">
            <input matStartDate formControlName="dataInicial" placeholder="Data Inicial">
            <input matEndDate formControlName="dataFinal" placeholder="Data Final">
          </mat-date-range-input>
          <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>
          <mat-date-range-picker touchUi #picker disabled="false"></mat-date-range-picker>
        </mat-form-field>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      </div>
      <div class="datapicker" >
        <button style="width: 26%;" mat-raised-button color="primary" (click)="buscarRelatorio()">Gerar Relatorio</button>
      </div>

      <mat-divider inset style="margin-top: 0.5em;"></mat-divider>

      <div *ngIf=" relatorio$ | async as r">
        <p>Total Atendimentos: {{r.totalAtendimento}}</p>
      </div>


  </mat-card>
</div>


